<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="productForm">
      <label for="product">Product Name</label>
      <input type="text" id="product" name="productName" required />

      <button type="submit">Add Product</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const form = document.getElementById("productForm");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const productName = document.getElementById("product").value;

        const response = await axios.post("/products", {
          productName,
        });

        console.log(response.data);
      });
    </script>
  </body>
</html>
